*{
    box-sizing: border-box;
    padding: 0;
    margin: 9;
}

table{
    margin: auto;
    height: 97vh;
    width: 100%;
    border:none;
}
.borda{
    border-width: 10px;
    border: solid;
    border-color:rgb(0, 0, 0) ;
}
td{
    height: 8vh;
    width: 8vh;
    margin: 0;
    border-radius: 6px;

    text-align: center;
}
div{
    text-align: left;
    padding-left: 5px;
}

.legenda{
    border: solid;
    height: 8vh;
    width: 8vh;
    margin: 0;
}

#table2{
    height: 40px;
    padding-top: 4vh;
}

.legenda{
    border:solid;
    border-radius: 6px; 
}



.naoMetal{
    background-color: rgb(70, 163, 47);
}
.gasNobre{
    background-color: rgb(158, 68, 241);
}

.metalAlcalino{
    background-color: rgb(250, 185, 64);
}

.metalTerroso{
    background-color: rgb(240, 231, 102);
}

.semiMetal{
    background-color: rgb(63, 156, 125);
}

.metal{
    background-color: rgb(241, 129, 129) ;
}

.halogenio{
    background-color: rgb(152, 252, 252);
}

.outroMetal{
    background-color: rgb(255, 141, 221);
}

.latanideo{
    background-color: rgb(221, 147, 87);
}

.actinideo{
    background-color: rgb(243, 115, 93);
}